/* Main CSS File */

/**************************
*    BASE CSS STYLING     *
************************* */
body{
  background: lightgray;
}
h1, h2, h3 {
  margin-top: 30px;
}

img, p {
  margin: 15px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  color: brown;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400px;
  color: brown;
  margin: 15px;
}


/***********************************
*    More specific CSS Selectors   *
 ***********************************/
#bio-section p {
  width: 66%;
  margin: 15px auto;
}

li>p {
  text-align: left;
}

#about-me-top-container {
  background-color: lightslategray;
  box-shadow: 0px 1px;
  position: relative;
}

#about-me-top-container > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
}

#bio-paragraph{
  text-align: center;
}

#image-container {
  max-height: 500px;
  overflow: hidden;
}

#image-container > img {
  margin: 0px;
  max-width: 100%;
}

