/* Main CSS File */

/**************************
*    BASE CSS STYLING     *
************************* */
body{
  counter-reset: item;
  background: whitesmoke;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
  margin-top: 30px;
}

img, p {
  margin: 15px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  color: brown;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400px;
  color: brown;
  margin: 15px;
}


/***********************************
*    More specific CSS Selectors   *
 ***********************************/
ol > li {
  counter-increment: item;
}
ol > li:before {
  content: counter(item);
  list-style-type: decimal;
  margin: 5px 10px 10px 15px;
}

ol:last-of-type {
  text-align: center;
  background-color: lightslategray;
  margin: 0 15px;
  padding: 1em;
}
#bio-section p {
  width: 50%;
  margin: 15px auto;
  line-height: 2em;
}

li>p {
  text-align: left;
  line-height: 1.5em;
}

#about-me-top-container {
  background-color: lightslategray;
  box-shadow: 0px 1px;
  position: relative;
}

#about-me-top-container > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
}

#bio-paragraph{
  text-align: center;
  padding: 1em;
}

#image-container {
  max-height: 500px;
  overflow: hidden;
}

#image-container > img {
  margin: 0px;
  max-width: 100%;
}

#education-section {
  background-color: lightslategray;
  margin: 0 15px;
  padding: 1em;
}

#work-experience-section {
  margin: 0 15px;
  padding: 1em;
}
