/* Main CSS File */
* {
  /* outline: 1px dotted red; */
}
/**************************
*    BASE CSS STYLING     *
************************* */
body {
  background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  color: #009CEF;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
  color: #44A1A0;
}

p {
  color: #393D3F;
  font-size: 1.12em;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

header {
  width: 95%;
  margin: 0 auto 60px auto;
  text-align: center;
}

nav {
  height: 40px;
  border-top: 2px solid #009CEF;
  border-bottom: 2px solid #009CEF;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: .20em;

}

nav a {
  color: #499F68;
}

header section {
  position: absolute;
  top: 0;
  left: 0;
  margin : 20px;
}

main {
  width: 80%;
  margin: 30px auto;
}
/***********************************
*    More specific CSS Selectors   *
 ***********************************/
#resume-section h2 {
  width: 30%;
  float: left;
  border-right: 1px solid #499F68;
}

#resume-section p {
  float: right;
  clear: right;
  width: 68%;
  margin-bottom: 10px;
}

#resume-section p:last-child {
  margin-bottom: 60px;
}

#projects-section h2 {
  width: 30%;
  float: left;
  clear: both;
  border-right: 1px solid #499F68;
}

#projects-section ul {
  width: 68%;
  float: right;
}

#projects-section li {
  margin-bottom: 25px;
}

#game-start-section {
  clear: both;
}
